* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 0 1.5rem;
}

caption {
  caption-side: top;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0.5rem;
}

#search-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  z-index: 100; */
}

.search-form {
  display: flex;
  align-items: stretch;
  margin-right: 1rem;
}

.search-bar {
  width: 30rem;
  border-radius: 5px;
  border: none;
  padding-left: 1rem;
}

.noSongMsg{
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column-reverse;
}

.events {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  justify-self: center;
  margin: 0 auto;
}

.events h2{
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 75em) {
  .field {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    align-items: baseline;
  }

  #allEvents {
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
  }
}