.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.field {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}

.search-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
.btn-primary {
  padding: 10px;
  border-radius: 5px;
}

.search-bar {
  width: 30%;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: white !important;
  color: #0275d8;
}

.events {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #304758;
  border-radius: 5px;
  min-height: 80vh;
}

.noEventMsg {
  align-self: center;
  color: white;
}

.container {
  min-width: 60%;
}

thead {
  color: rgb(165, 165, 165);
}
