img {
  width: 100%;
}

.event {
  background-color: rgb(31,31,31);
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  color: white;
  border-radius: 8px;
}

#goToBtn {
  margin: 0.5rem 0 1rem 0;
}

.event-info h3 {
  background-color: rgb(80, 80, 80);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
}

.event-img {
  border-radius: 8px;
  overflow: hidden;
}

.noEventMsg {
  text-align: center;
  margin: 3rem 0;
}
