.event {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    background-color: white;
}

.image {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}